In [1]:
# Here we will put all the packages needed. All lines that starts with an exclamation mark (!) are packages to download (not 
# very common). If you don't have the package, just remove the comment symbol (#)

#! pip install python-docx

import os
import re
import pandas as pd

from docx import Document

path_to_folder = '/Users/thymol/Desktop/Comp/pred-case-outcomes/'
os.chdir('{}154 cases'.format(path_to_folder))

# Change this if needed
NUM_OF_FILES= 151

In [2]:
# Clean up file list. We do not want the files with filenames that start with '~'. 
file_list= []
for file_name in sorted(os.listdir()):
    if not file_name.startswith('~') and file_name.endswith('.docx'):
        file_list.append(file_name)
# print(file_list)

# Check if the number of files in the list is correct. 
assert(len(file_list) == NUM_OF_FILES)

In [3]:
# This code creates a dictionary called documents, where the files are stored. Each document has a number as its index. 

# Initializing the dictionary
documents = {}
headlines= {}
backgrounds= {}
results= {}
# Setting initial value for the first document
i = 0

# Vocabulary for gender searching
female_vocab= set(['she', 'her', 'woman', 'women', 'girl', 'girls', 'lady', 'ladies']);
male_vocab= set(['he', 'his', 'him', 'man', 'men', 'boy', 'boys', 'gentleman', 'gentlemen']);

# Initialize case ID list. 
case_id_list= []


# Initializing for loop over all files in folder
for filename in file_list:
    # Initialize document
    doc = ''
    #Create a temporary file. Within this file we will get every paragraph 
    temp = Document('{}'.format(filename))

    # Counter for paragraph
    j= 0
    for p in temp.paragraphs:
#         print('Paragraph ' + str(j))
#         print(p.text)
#         print('###########')
        doc = doc + ' ' + p.text
        lower_text= str.lower(p.text)
        
        # Get case ID (which is in paragraph 3). 
        if j == 3:
            case_id= p.text
        j+= 1
        
        # Get headline
        if lower_text.startswith('headline'):
            headline= lower_text
           
        # Get background
        if lower_text.startswith('background'):
            background= lower_text
        
        # Get result
        if lower_text.startswith('result'):
            result= lower_text
            
    # Update the lists of case ID. 
    case_id_list.append(case_id)

    documents[i] = doc
    headlines[i] = headline
    backgrounds[i]= background
    results[i]= result
    i+=1

In [4]:
headlines

{0: 'headline:\xa0new jersey woman seriously injured when her car collided with train awarded $1.5 million by state jury',
 1: 'headline:\xa0jury awards $3 million to new jersey man injured in accident with phantom car',
 2: 'headline:\xa0new jersey federal jury awards woman hurt in auto accident $1,038.30',
 3: 'headline:\xa0passenger injured when new jersey transit bus collides with car settles for $600,000',
 4: 'headline:\xa0new jersey man receives $75,000 settlement in auto accident',
 5: 'headline:\xa0parties agree to settlement in new jersey auto accident',
 6: 'headline:\xa0woman rear-ended by drunk driver awarded $224,627.84 in new jersey state court',
 7: 'headline:\xa0jury awards $48,107.05 to plaintiff in new jersey auto accident',
 8: 'headline:\xa0new jersey auto accident case settles for $98,000',
 9: 'headline:\xa0settlement reached in new jersey auto accident',
 10: 'headline:\xa0settlement reached in 3-car new jersey accident',
 11: 'headline:\xa0judge rules in favor of postal service in new jersey auto accident case',
 12: 'headline:\xa0new jersey high school pays $410,000 to injured athlete to settle negligence suit in state court',
 13: 'headline:\xa0$25,000 settlement reached in new jersey auto accident',
 14: 'headline:\xa0settlement reached in new jersey auto accident',
 15: 'headline:\xa0settlement reached in new jersey auto accident',
 16: 'headline:\xa0new jersey auto accident case settles in state court for $600,000',
 17: 'headline:\xa0settlement reached in new jersey auto accident',
 18: 'headline:\xa0$30,000 settlement reached in auto accident on garden state parkway',
 19: 'headline:\xa0new jersey jury returns $5 million verdict against bus company in injury case',
 20: 'headline:\xa0parties reach undisclosed settlement in new jersey motorcycle accident',
 21: 'headline:\xa0settlement reached, terms not disclosed, in new jersey auto accident',
 22: 'headline:\xa0new jersey couple reaches settlement in auto accident with truck',
 23: 'headline:\xa0$97,500 settlement reached in new jersey 3-car accident',
 24: 'headline:\xa0new jersey woman severely injured in rear-end auto accident receives $3.5 million settlement in state court',
 25: 'headline:\xa0$105,000 settlement reached in new jersey auto accident',
 26: 'headline:\xa0new jersey federal auto case settles for $153,500',
 27: 'headline:\xa0undisclosed settlement reached in new jersey auto accident',
 28: 'headline:\xa0$77,000 settlement reached in auto accident in new jersey',
 29: 'headline:\xa0$400,000 settlement reached over accident on new jersey turnpike',
 30: "headline:\xa0settlement reached in auto accident on new jersey's atlantic city expressway",
 31: 'headline:\xa0man injured in new jersey auto accident settles suit in state court for $550,000',
 32: 'headline:\xa0new jersey woman injured in auto accident settles for $490,000 in state court',
 33: 'headline:\xa0$107,000 settlement reached in new jersey auto accident case',
 34: "headline:\xa0new jersey state jury rules tavern not responsible for women's death in auto accident",
 35: 'headline:\xa0$1.125 million settlement reached for new jersey family after fatal auto accident',
 36: 'headline:\xa0$1.5 million settlement reached in new jersey car accident',
 37: 'headline:\xa0new jersey auto accident settles for undisclosed amount',
 38: 'headline:\xa0$40,000 verdict reached in new jersey auto accident',
 39: 'headline:\xa0jury awards estate $1 million in accident policy suit',
 40: 'headline:\xa0defense verdict awarded to new jersey man accused of negligence in auto accident',
 41: 'headline:\xa0parties agree to $325,000 settlement for new jersey pedestrian hit by car',
 42: 'headline:\xa0couple injured in drunken driving accident awarded $2.75m in new jersey state court',
 43: 'headline:\xa0parties reach $1.2 million settlement in new jersey 2-vehicle crash',
 44: 'headline:\xa0auto accident victim s estate awarded $40,178 in compensatory damages, $3,939 in funeral expenses, $1.25 million in punitives',
 45: 'headline:\xa0new jersey jury awards motorist $23,925 for head-on crash',
 46: 'headline:\xa0parties settle for $1,200 in new jersey auto accident',
 47: 'headline:\xa0new jersey car accident victim awarded $512,500 against dui driver but not against bar',
 48: 'headline:\xa0confidential settlement reached in new jersey auto accident',
 49: 'headline:\xa0new jersey auto accident reaches confidential settlement',
 50: 'headline:\xa0jury orders insurance company to pay $85,000 in new jersey underinsured motorist claim',
 51: 'headline:\xa0new jersey state jury awards $120,000 to man injured in auto accident',
 52: 'headline:\xa0arbitrator rules in favor of new jersey couple after auto accident, awards $66,500 in federal suit',
 53: 'headline:\xa0settlement reached in new jersey auto accident action',
 54: 'headline:\xa0defense wins verdict against new jersey woman injured in car accident',
 55: 'headline:\xa0new jersey jury delivers split verdict in auto accident suit',
 56: 'headline:\xa0$1,000 settlement reached in new jersey auto accident case',
 57: 'headline:\xa0new jersey auto accident victims awarded $100,000 after chain-reaction crash',
 58: 'headline:\xa0new jersey woman awarded $725,000 for injuries suffered in rear-end collision',
 59: 'headline:\xa0pedestrian injured by hit-and-run driver awarded $25,000 against new jersey unsatisfied claim and judgment fund board',
 60: "headline:\xa0jury awards new jersey woman $1.33 million after auto accident in front of parents' home",
 61: 'headline:\xa0settlement reached in new jersey auto accident',
 62: 'headline:\xa0$35,000 settlement reached in new jersey auto accident',
 63: 'headline:\xa0new jersey couple awarded $25,000 in auto accident claim against u.s. government',
 64: 'headline:\xa0new jersey couple awarded $25,000 in auto accident claim against u.s. government',
 65: 'headline:\xa0new jersey couple awarded $25,000 in auto accident claim against u.s. government',
 66: 'headline:\xa0$665,000 settlement reached in chain-reaction new jersey auto accident',
 67: 'headline:\xa0settlement reached in new jersey auto accident',
 68: 'headline:\xa0settlement reached in new jersey federal auto accident case',
 69: 'headline:\xa0new jersey state jury awards auto accident victim $24,800 for injuries suffered in crash on turnpike',
 70: 'headline:\xa0new jersey man who injured back in auto accident settles for $650,000',
 71: 'headline:\xa0new jersey federal judge orders ford to pay injured motorist $10 million',
 72: 'headline:\xa0new jersey man awarded $70,000 in arbitration in federal court after car accident with u.s. postal worker',
 73: 'headline:\xa0new jersey motorist settles with trucking company over accident',
 74: 'headline:\xa0new jersey motorist awarded extra $100,000 to settle claim after 2000 auto accident',
 75: 'headline:\xa0settlement reached in new jersey auto accident',
 76: 'headline:\xa0new jersey couple settles auto accident claims',
 77: 'headline:\xa0motorist rear-ended in new jersey auto accident settles for $20,000',
 78: 'headline:\xa0jury finds for defendant in new jersey auto accident case',
 79: 'headline:\xa0new jersey federal judge delivers defense verdict in auto accident case',
 80: 'headline:\xa0settlement reached in car, truck accident',
 81: 'headline:\xa0confidential settlement reached in new jersey car accident',
 82: 'headline:\xa0jury awards new jersey man $71,226 after auto accident at traffic light',
 83: 'headline:\xa0$375,000 settlement for new jersey woman permanently disabled after car accident',
 84: 'headline:\xa0new jersey family reaches settlement in auto accident',
 85: 'headline:\xa0new jersey federal jury refuses to award damages in auto accident case',
 86: 'headline:\xa0new jersey couple settles auto accident',
 87: 'headline:\xa0settlement achieved in new jersey auto accident',
 88: 'headline:\xa0automobile manufacturer and dealer prevail in new jersey products liability action arising from fatal accident',
 89: 'headline:\xa0parties in new jersey auto accident reach settlement',
 90: 'headline:\xa0new jersey state jury awards man injured in auto accident $80,000',
 91: 'headline:\xa0new jersey state jury finds in favor of defendant in turnpike accident case',
 92: 'headline:\xa0united states settles auto accident suit in new jersey federal court for $1,000',
 93: 'headline:\xa0rear-end auto accident case settles in new jersey state court for $465,000',
 94: 'headline:\xa0jury awards $150,000 to woman injured in new jersey auto accident',
 95: 'headline:\xa0$175,000 settlement reached in new jersey chain-reaction auto accident',
 96: 'headline:\xa0new jersey motorcycle accident victim settles with harley davidson for $150,000',
 97: 'headline:\xa0jury awards $150,000 to new jersey man injured after 2 auto accidents',
 98: 'headline:\xa0jury delivers defense verdict in new jersey auto accident case',
 99: 'headline:\xa0auto accident settled in new jersey',
 100: 'headline:\xa0new jersey arbitrator awards canadian residents injured in auto accident $30,000',
 101: 'headline:\xa0new jersey woman injured in car crash awarded $7.6 million by state court jury',
 102: 'headline:\xa0split verdict reached in new jersey auto accident',
 103: 'headline:\xa0settlement reached in new jersey auto accident case',
 104: 'headline:\xa0$315,000 settlement for new jersey college professor made partially deaf in auto accident',
 105: 'headline:\xa0new jersey man severely injured in auto accident settles in state court for $350,000',
 106: 'headline:\xa0new jersey earns more than $1.5 million judgment in state court in accident staging ring',
 107: 'headline:\xa0new jersey auto accident settles; terms not announced',
 108: 'headline:\xa0jury unanimously rejects couple s claim of auto accident causing permanent injuries',
 109: 'headline:\xa0$500,000 settlement reached for new jersey girl hit by car',
 110: 'headline:\xa0settlement reached in car accident on i-95 in new jersey',
 111: 'headline:\xa0new jersey man hit by cargo container while driving wins $11.25m jury verdict',
 112: 'headline:\xa0$100,000 verdict in head-on new jersey auto accident',
 113: 'headline:\xa0new jersey auto accident case settles for $1.475 million just before trial begins',
 114: 'headline:\xa0jury awards new jersey man $250,000 for injuries suffered in car accident',
 115: 'headline:\xa0new jersey jury finds in favor of defense in auto accident suit',
 116: 'headline:\xa0$4.25 million settlement awarded to new jersey family in car wheel accident',
 117: 'headline:\xa0new jersey woman wins $10.6 million negligence verdict against ford motor in state court',
 118: 'headline:\xa0settlement reached in new jersey auto accident suit',
 119: 'headline:\xa0settlement reached for new jersey driver struck by tractor-trailer on walt whitman bridge',
 120: 'headline:\xa0jury awards new jersey man $502,685 in insurance dispute after motor vehicle accident',
 121: 'headline:\xa0new jersey state judge finds in favor of ford; case against remaining defendants settles for $31.25 million in product liability case',
 122: 'headline:\xa0new jersey man receives $525,000 in auto accident settlement',
 123: 'headline:\xa0$300,000 settlement reached in new jersey slip-and-fall case',
 124: 'headline:\xa0elderly new jersey couple settles auto accident claim in state court for $1 million',
 125: 'headline:\xa0new jersey man settles auto negligence suit in state court for $1 million',
 126: 'headline:\xa0settlement reached in case of accident on atlantic city expressway',
 127: 'headline:\xa0new jersey jury awards man rear-ended in auto accident $10,000',
 128: 'headline:\xa0$445,000 settlement for new jersey woman injured in multivehicle accident',
 129: 'headline:\xa0state jury awards new jersey woman injured by tailgater $64,800',
 130: 'headline:\xa0settlement reached in new jersey rear-end auto accident',
 131: 'headline:\xa0new jersey worker reaches settlement with port authority in accident suit',
 132: 'headline:\xa0new jersey state jury awards $2 million to passenger injured in hit-and-run accident',
 133: 'headline:\xa0new jersey auto accident settles for $900,000 the day before trial to begin',
 134: 'headline:\xa0motorist settles uninsured motorist claim in new jersey state court for $250,000',
 135: 'headline:\xa0new jersey woman settles auto accident claim for $95,000',
 136: 'headline:\xa0new jersey case settles for $2.5 million more than 10 years after auto accident',
 137: 'headline:\xa0$40,000 settlement reached in new jersey truck, auto accident',
 138: 'headline:\xa0new jersey pedestrian struck by car settles for $500,000',
 139: 'headline:\xa0new jersey state jury awards more than $5.8m for worker injured in slip and fall at car dealership',
 140: 'headline:\xa0defense verdict issued in new jersey auto accident',
 141: 'headline:\xa0new jersey state jury awards $240,000 to auto accident victim after 3rd trial',
 142: 'headline:\xa0auto accident at new jersey mall settles in state court for $650,000',
 143: 'headline:\xa0defense verdict rendered in new jersey auto accident suit',
 144: 'headline:\xa0$30,000 settlement in new jersey auto accident',
 145: 'headline:\xa0auto accident victim awarded $370,000 by new jersey state jury',
 146: 'headline:\xa0$17,500 verdict reached in case of new jersey man injured in auto accident',
 147: 'headline:\xa0settlement reached in new jersey transit employee accident',
 148: 'headline:\xa0parties settle in new jersey auto accident case',
 149: 'headline:\xa0passenger in new jersey auto accident involving tractor-trailer does not succeed in negligence action against driver of auto and truck',
 150: 'headline:\xa0$850,000 settlement reached in new jersey auto accident collision with car carrier'}

In [5]:
# return_gender searches for gender in the text. It takes in lower_text, female_vocab, and male_vocab. 
# lower_text is a string in lower case. 
# female_vocab is a set of strings. 
# male_vocab is a set of strings. 
def return_gender(lower_text, female_vocab, male_vocab):
    # Clean up and split by space. 
    lower_text= lower_text.replace(u'\xa0', u' ')
    lower_text_list= lower_text.split(' ')
    
    # Iterate over the text list. 
    # Return gender immediately if a word matches the gender vocabs. 
    for word in lower_text_list:
        if word in female_vocab:
            return 0
        elif word in male_vocab:
            return 1
    
    # Return 'na' if no word matches the gender vocabs. 
    return -1

In [6]:
def get_gender_data(headlines, backgrounds, female_vocab, male_vocab):
    gender_list= []

    for i in range(len(headlines)):
        headline= headlines[i]
        background= backgrounds[i]
        gender= return_gender(headline + background, female_vocab, male_vocab)
        gender_list.append(gender)

    data_gender= pd.DataFrame({'gender':gender_list})
    return data_gender

In [7]:
data_gender= get_gender_data(headlines, backgrounds, female_vocab, male_vocab)
data_gender

     gender
0         0
1         1
2         0
3         0
4         1
5         1
6         0
7         1
8         0
9         1
10        1
11        1
12        0
13        1
14        1
15        0
16        0
17        1
18        1
19        0
20        1
21        0
22        1
23        1
24        0
25        1
26        0
27        0
28        1
29        1
..      ...
121       1
122       1
123       0
124       1
125       1
126       0
127       1
128       0
129       0
130       0
131       1
132       0
133       0
134       1
135       0
136       1
137       0
138       0
139       1
140       1
141       0
142       0
143       0
144       0
145       1
146       1
147       1
148       0
149       1
150       1

[151 rows x 1 columns]

In [8]:
def get_money_data(results):
    money_list= []

    for i in range(len(results)):
        result= results[i]

        money_str_list= re.findall(r'\$\d[\d,\.]* million|\$\d[\d,\.]*', result)
    #     print(money_str_list)
        if len(money_str_list) == 0:
            money= -1.0
        else:
            money_temp_list= []
            for word in money_str_list:
                word= word.replace('$','').replace(',','')
                if ' million' not in word:
                    number= float(word)
                else:
                    number= float(word.replace(' million','')) * 1E6
                money_temp_list.append(number)
    #         print(money_temp_list)
            money= max(money_temp_list)

        money_list.append(money)
    
    data_money= pd.DataFrame({'money':money_list})
    return data_money

test= ['$1,000,000 (abc million)','$1 million','$1.5 million','$1,000,000','$1 million(abc)',
       '$5,820,304 ($3 million for suffering$, $425,000 for 83 and $3 nilliom','$508.40','settlement']
data_test= get_money_data(test)
data_test

       money
0  1000000.0
1  1000000.0
2  1500000.0
3  1000000.0
4  1000000.0
5  5820304.0
6      508.4
7       -1.0

In [10]:
data_money= get_money_data(results)
data_money

           money
0     1500000.00
1     3000000.00
2        1038.30
3      600000.00
4       75000.00
5          -1.00
6      224627.84
7       48107.05
8       98000.00
9          -1.00
10         -1.00
11         -1.00
12     410000.00
13         -1.00
14         -1.00
15         -1.00
16     600000.00
17         -1.00
18      30000.00
19    5000000.00
20         -1.00
21         -1.00
22         -1.00
23      97500.00
24    3500000.00
25     105000.00
26     153500.00
27         -1.00
28      77000.00
29     400000.00
..           ...
121  31250000.00
122    525000.00
123    300000.00
124   1000000.00
125   1000000.00
126        -1.00
127     10000.00
128    445000.00
129     64800.00
130        -1.00
131        -1.00
132   2000000.00
133    900000.00
134    250000.00
135     95000.00
136   2500000.00
137     40000.00
138    500000.00
139   5820304.00
140        -1.00
141    240000.00
142    650000.00
143        -1.00
144     30000.00
145    370000.00
146     17500.00
147        -1.00
148        -1.00
149        -1.00
150    850000.00

[151 rows x 1 columns]

In [13]:
os.chdir('..')
os.getcwd()

'/Users/thymol/Desktop/Comp/pred-case-outcomes'

In [16]:
data_case_id= pd.DataFrame({'case_id':case_id_list})
data_gender_money= data_case_id.join(data_gender).join(data_money)

In [17]:
data_gender_money

             case_id  gender        money
0     BER-L-13231-04       0   1500000.00
1      MID-L-4430-05       1   3000000.00
2           04-00884       0      1038.30
3        SAL-L-43-04       0    600000.00
4           05-01749       1     75000.00
5           05-03951       1        -1.00
6       BUR-L-748-04       0    224627.84
7      UNN-L-3463-03       1     48107.05
8    MID-L-005468-04       0     98000.00
9           05-02682       1        -1.00
10          04-06009       1        -1.00
11           03-3979       1        -1.00
12     CAM-L-2026-04       0    410000.00
13          04-05754       1        -1.00
14          04-04541       1        -1.00
15          05-00540       0        -1.00
16     ESX-L-8362-04       0    600000.00
17          06-02178       1        -1.00
18          04-06047       1     30000.00
19      CAM-L-522210       0   5000000.00
20          05-00616       1        -1.00
21          05-01254       0        -1.00
22          05-04261       1        -1.00
23          04-02146       1     97500.00
24      MRS-L-658-05       0   3500000.00
25          02-03566       1    105000.00
26          05-00331       0    153500.00
27          04-00488       0        -1.00
28          05-04211       1     77000.00
29          04-04432       1    400000.00
..               ...     ...          ...
121     MID-L-677-02       1  31250000.00
122   BER-L-14531-04       1    525000.00
123      CAM-L-88703       0    300000.00
124    BUR-L-1934-05       1   1000000.00
125    BER-L-2275-06       1   1000000.00
126         05-05380       0        -1.00
127     BER-L-013245       1     10000.00
128    MER-L-0240-01       0    445000.00
129  ATL-L-001199-04       0     64800.00
130         05-00920       0        -1.00
131         04-06108       1        -1.00
132     ESX-L-298-03       0   2000000.00
133    BER-L-8664-04       0    900000.00
134    UNN-L-3206-05       1    250000.00
135      L-003047-04       0     95000.00
136    SOM-L-1978-98       1   2500000.00
137         04-04044       0     40000.00
138     PAS-L-112-06       0    500000.00
139      ATL-1407-04       1   5820304.00
140    BUR-L-2978-04       1        -1.00
141    ESX-L-3896-02       0    240000.00
142   BER-L-14399-04       0    650000.00
143     WAR-L-602-02       0        -1.00
144          06-0076       0     30000.00
145     MER-L-264-05       1    370000.00
146  PAS-L-004197-04       1     17500.00
147         04-03167       1        -1.00
148         04-04974       0        -1.00
149      L 001646 94       1        -1.00
150    BUR-L-3561-03       1    850000.00

[151 rows x 3 columns]

In [18]:
data_gender_money.to_csv('gender_and_money.csv', index=False)